In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/tutorial data/대한민국_주요_도시_인구수.csv')

In [ ]:
data

In [ ]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      10 non-null     object
 1   인구수     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

In [ ]:
data['도시']

0    서울
1    부산
2    인천
3    대구
4    대전
5    광주
6    수원
7    울산
8    고양
9    용인
Name: 도시, dtype: object